{% extends 'base.html' %}

{% block main %}
{{ contactForm.csrf_token }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">  
<h2>Contact Form</h2>

<p>Fill in this form to contact site owners</p>

<form action="{{ url_for('contact') }}" method="POST">
<div class="formData">
{{form.name.label}}
<p>Please Enter Your Full Name:</p>
{{form.name}}

{{form.email.label}}
<p>Please Enter Your Email Address</p>
{{form.email}}

{{form.subject.label}}
<p>Please Enter the Subject of Your Message</p>
{{form.subject}}

{{form.message.label}}
<p>Please Enter the message you would like to send</p>
{{form.message}}
</div>
<button type='submit'>Send</button>
</form>
{% endblock %}


