{% extends 'base.html' %}

{% block main %}

{{ form.csrf_token }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">  
<h2>Contact Form</h2>

<p>Fill in this form to contact site owners</p>

<form action="{{ url_for('contact') }}" method="POST">
<div class="formData">
{{form.name.label}} <div class="req">(Required)</div>
<p>Please Enter Your Full Name:</p>
{{form.name}}
<br>

{{form.email.label}} <div class="req">(Required)</div>
<p>Please Enter Your Email Address</p>
{{form.email}}
<br>

{{form.subject.label}}<div class="req">(Required)</div>
<p>Please Enter the Subject of Your Message</p>
{{form.subject}}
<br>

{{form.message.label}}<div class="req">(Required)</div>
<p>Please Enter the message you would like to send</p>
{{form.message}}
</div>
<button type='submit'>Send</button>
</form>
{% endblock %}


 